header.bg-indigo-600.p-4
    .container.mx-auto
        h1.text-2xl.text-white.font-extrabold.text-center Bienes 
            span.font-normal Raices



nav.bg-white.border-gray-200(class='dark:bg-indigo-600')
  .flex.flex-wrap.justify-between.items-center.mx-auto.max-w-screen-xl.px-4(class='md:px-6 py-2.5')
    a.flex.items-center(href='/auth/inicio')
      span.self-center.text-xl.font-semibold.whitespace-nowrap(class='dark:text-white') B/R
    .flex.items-center
      a.mr-6.text-sm.font-medium.text-gray-500.text-center(href='/auth/registro' class='dark:text-white hover:underline') Crear Cuenta
      a.text-sm.font-medium.text-blue-600(href='/auth/login' class='dark:text-white hover:underline') Iniciar sesión
nav.bg-gray-50(class='dark:bg-indigo-600 flex')
  .max-w-screen-xl.px-4.py-3.mx-auto(class='md:px-6')
    .flex.items-center
      ul.flex.flex-row.mt-0.mr-6.space-x-8.text-sm.font-medium
        li
          a.text-gray-900(href='/auth/categorias/1' class='dark:text-white hover:underline uppercase' aria-current='page') Casas
        li
          a.text-gray-900(href='/auth/categorias/2' class='dark:text-white hover:underline uppercase') Departamentos
        li
          a.text-gray-900(href='/auth/categorias/3' class='dark:text-white hover:underline uppercase') Bodega 

nav.bg-gray-50(class='dark:bg-indigo-600 flex')
  .max-w-screen-xl.px-4.py-3.mx-auto(class='md:px-6')
    .flex.items-center
      ul.flex.flex-row.mt-0.mr-6.space-x-8.text-sm.font-medium
        li
          a.text-gray-900(href='/auth/categorias/5' class='dark:text-white hover:underline uppercase') Otros
       
    


          

          


        
        
